@model IEnumerable<WebsiteBanHang.Context.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avatar)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Avatar)
                </td>


                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IDCategory }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IDCategory }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IDCategory })
                </td>
            </tr>
        }

    </table>
    <p>
        @Html.ActionLink("Thêm loại", "Create")
    </p>
</div>